:root {
  --primary-color: #000000;
  --secondary-color: #f8d7ac;
  --tertiary-color: #dd7233;
  --quaternary-color: #21573d;
  --quinary-color: #ffff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
}

body {
  color: var(--secondary-color);
  background: var(--quaternary-color);
}

/* HEADER / NAVBAR STYLES START */
header {
  background: url(../images/green-header.jpg);
  background-size: auto;
  background-attachment: fixed;
  background-position: 30%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
}

header img {
  max-height: 150px;
  max-width: 150px;
  margin-top: -30px;
}

header h1 {
  display: flex;
  align-items: flex-start;
}

header h1 a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 2vw;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  color: var(--primary-color);
  padding: 20px 50px;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  color: var(--tertiary-color);
  text-shadow: -2px 2px var(--primary-color);
}
/* HEADER STYLE ENDS */

/* FOOTER STYLE STARTS */
footer {
  background: var(--primary-color);
  width: 100%;
  padding: 40px 65px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  align-items: center;
  color: var(--tertiary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-align: right;
}

footer div p {
  color: var(--secondary-color);
  padding: 20px 80px;
  font-size: 20;
}

footer div p a {
  color: var(--secondary-color);
}
footer div p a:hover {
  color: var(--tertiary-color);
}

footer div p a:visited {
  color: var(--quinary-color);
}
/* FOOTER STYLE ENDS */

/* SECTION STYLE STARTS */
section {
  padding: 20px 40px 50px 40px;
}

.section-title {
  color: var(--tertiary-color);
  font-size: 30px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 30px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 35%;
}

/* SECTION STYLE ENDS */

/* ABOUT ME STYLE STARTS */
.bio-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.bio-img {
  width: 35%;
}

.bio-img img {
  width: 400px;
  height: auto;
}

.bio-text {
  padding: 20px;
  width: 40%;
  color: var(--secondary-color);
}

.bio-text h3 {
  font-size: 23px;
  margin: 0;
}
.bio-text p {
  color: var(--secondary-color);
  font-size: 18px;
}

.bio-text img{
    width: 150px;
    height: auto;
}

/* ABOUT ME STYLE ENDS */

/* WORK STYLE STARTS */
.projects {
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.project {
  margin: 15px;
  flex: 1;
}



.project img {
  width: auto;
  height: 300px;
  opacity: 70%;
}

.project img:hover {
  width: auto;
  height: 350px;
  opacity: 100%;
}
