:root {
  --primary-color: #ffffff;
  --secondary-color: #bdaf9e;
  --tertiary-color: #000000;
  --quaternary-color: #492a36;
  --quinary-color: #61c2c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 2em;
}

body {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.background-border {
  background: var(--quaternary-color);

  margin: 70px;
}

/* HEADER / NAVBAR STYLES START */
header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
}

header img {
  max-height: 150px;
  max-width: 150px;
  margin-top: -30px;
}

header h1 {
  display: flex;
  align-items: flex-start;
}

header h1 a {
  text-decoration: none;
  color: var(--tertiary-color);
  display: table;
  padding: 0px;
  margin: 0px;
  font-size: 2vw;
}

header h1 a:hover {
  display: table;
  padding: 0px;
  margin: 0px;
  font-size: 2vw;
  background: var(--quinary-color);
  color: var(--quaternary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  color: var(--primary-color);
  padding: 20px 50px;
  font-size: 1.3vw;
}

header nav ul li a:hover {
  color: var(--quinary-color);
  text-shadow: -2px 2px #000000;
}
/* HEADER STYLE ENDS */

/* SECTION STYLE STARTS */
section {
  padding: 20px 40px 50px 40px;
}

.section-title {
  color: var(--tertiary-color);
  font-size: 30px;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 30px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 35%;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* SECTION STYLE ENDS */

/* ABOUT ME STYLE STARTS */
.bio-img {
  width: 35%;
}

.bio-img img {
  width: 400px;
  height: auto;
}

.bio-text {
  padding: 20px;
  width: 40%;
}

.bio-text h3 {
  font-size: 23px;
  margin: 0;
}
.bio-text p {
  font-size: 18px;
}

.bio-text p span {
  color: var(--quinary-color);
}

.bio-text img {
  width: 150px;
  height: auto;
}

/* ABOUT ME STYLE ENDS */

/* WORK STYLE STARTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px;
  overflow: hidden;
}

.project {
  margin: 15px;
  flex: 1;

}

.project img {
  position: relative;
  object-fit: contain;
  width: 350px;
  height: auto;
  opacity: 60%;
}

.project img:hover {
  position: relative;
  object-fit: contain;
  width: 400px;
  height: auto;
  opacity: 100%;
}

/* CONTACT-ME STYLE STARTS */
.contact h2 {
  align-items: center;
  background: var(--secondary-color);
  color: var(--quaternary-color);
  font-size: 30px;
  margin: 0;
}

.contact div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-align: right;
}

.contact div p {
  color: var(--primary-color);
  padding: 20px 80px;
  font-size: 20px;
}

.contact div p a {
  color: var(--secondary-color);
}
.contact div p a:hover {
  color: var(--quinary-color);
}

.contact div p a:visited {
  color: var(--quinary-color);
}
/* CONTACT-ME STYLE ENDS */

/* UTILITIES */
.blue-text {
  color: var(--quinary-color);
  font-style: italic;
}

.inverted-text {
  display: table;
  padding: 5px;
  margin: 10px;
  font-size: 30px;
  background: var(--secondary-color);
  color: var(--quaternary-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1360px) {
  .bio-img,
  .bio-text {
    width: 100%;
    text-align: center;
  }

  .section-title {
    width: 80%;
  }

  .projects {
    flex: 0 70%;
  }
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .bio-img,
  .bio-text {
    width: 100%;
    text-align: center;
  }

  .bio-text p {
    font-size: 14px;
  }

  .section-title {
    width: 80%;
  }

  .projects {
    flex: 0 70%;
  }

  .project img {
    width: 250px;
    height: auto;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .project h3 {
    flex: 1 100%;
    text-align: center;
  }

  .project a {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .project img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 250px;
    height: auto;
  }

  .project img {
    width: 200px;
    height: auto;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .section-title {
    width: 95%;
  }

  .projects {
    flex: 0 100%;
  }

  .project p {
    width: 100%;
  }

  .project img {
    width: 125px;
    height: auto;
  }

  .section-content {
    flex: 0 100%;
  }

  .contact {
    text-align: center;
  }

  .contact > * {
    flex: 0 100%;
  }

  .contact div {
    order: 3;
  }
}
